apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "producer.fullname" . }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ include "producer.fullname" . }}
  template:
    metadata:
      labels:
        app: {{ include "producer.fullname" . }}
    spec:
      containers:
        - name: app
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}

          env:
            {{- range $k, $v := .Values.env }}
            - name: {{ $k }}
              value: "{{ $v }}"
            {{- end }}

          volumeMounts:
            - name: certs
              mountPath: /certs
              readOnly: true

      volumes:
        - name: certs
          secret:
            secretName: {{ .Values.certSecretName }}
